{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns:v-on="http://www.w3.org/1999/xhtml"
        xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}";
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

    var cur_user_email = "{{='false' if auth.user is None else auth.user.email}}";

    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    var get_thumb_count_url = "{{=URL('api', 'get_thumb_count')}}";
    var get_thumb_entries_url = "{{=URL('api', 'get_thumb_entries', user_signature=True)}}";

    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var add_reply_url = "{{=URL('api', 'add_reply', user_signature=True)}}";
    var get_replies_url = "{{=URL('api', 'get_replies')}}";
    var edit_reply_url = "{{=URL('api', 'edit_reply', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!--Button to toggle whether to show new post form. Hides if not logged in-->
      <!-- chris hide the add button -->
      <i class="novel"> Novel</i>
      <button id="post-btn" v-show="add_btn_show" v-on:click="toggle_form">Add post</button>

      <!-- First, let's add a form to insert blog posts. -->
      <div id="add_post" v-show="form_set" style="display:none">
        <div class="container form_row">
          <div class="label quarter">
            Title:
          </div>
          <div class="form threequarters">
            <input v-model="form_title" placeholder="Enter the post title"/>
          </div>
        </div>
        <div class="container form_row">
          <div class="label quarter">
            Content:
          </div>
          <div class="form threequarters">
            <textarea v-model="form_content" placeholder="Enter the content of your post"></textarea>
          </div>
        </div>
        <div class="container form_row"><div class="quarter"></div>
          <div class="threequarters">
            <div class="submit">
              <button id="add-post" v-on:click="add_post">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts.</div>

      <!-- We display the posts. -->

      <!-- main page will display three posts with images in each row -->

      <div id="post_list">
        <div class="container project">
        <div class="third" v-for="post in post_list">

          <div class="post_title">${post.post_title}</div>
          <div class="post_content">
              <span v-if="!post.editing">
                  <div>${post.post_content}</div>
              </span>
              <span v-if="post.editing">
                  <textarea v-model="post.post_content"></textarea>
              </span>
         
          </div>


          <div class="attributes">

            <!-- Code for Thumbs. -->
<!--             <div v-if="is_logged_in" class="thumbs">
              <span v-if="is_logged_in" class="thumb_up_class"
                    v-on:mouseover="thumb_up_mouseover(post._idx)"
                    v-on:mouseout="thumb_up_mouseout(post._idx)"
                    v-on:click="thumb_up_click(post._idx)">
                <i v-if="post._thumb === 'u'" class="fa fa-thumbs-up" v-bind:class="{changed: post.thumb === 'd'}"></i>
                <i v-else class="fa fa-thumbs-o-up" v-bind:class="{changed: post._thumb === 'u'}"></i>
              </span>

              <span v-if="is_logged_in" class="thumb_down_class"
                    v-on:mouseover="thumb_down_mouseover(post._idx)"
                    v-on:mouseout="thumb_down_mouseout(post._idx)"
                    v-on:click="thumb_down_click(post._idx)">
                <i v-if="post._thumb == 'd'" class="fa fa-thumbs-down" v-bind:class="{changed: post.thumb === 'u'}"></i>
                <i v-else class="fa fa-thumbs-o-down" v-bind:class="{changed: post._thumb === 'd'}"></i>
              </span>

              <span v-if="is_logged_in" class="thumb_counts" v-text="get_thumb_count(post._idx)"></span>
            </div> -->

            <div class="post_buttons">
                <span v-if="cur_user_email == post.post_author" class="edit_buttons">
                    <button v-if="!post.editing" id="edit_post_btn" v-on:click="toggle_edit(post._idx)">Edit Post</button>
                    <button v-if="post.editing" id="submit_post_btn" v-on:click="toggle_edit(post._idx)">Submit</button>

                </span>
                <span class="reply_buttons">
                    <button v-if="post._show_replies" id="hide_replies_btn" v-on:click="hide_replies(post._idx)">Hide Replies</button>
                    <button v-if="!post._show_replies" id="show_replies_btn" v-on:click="show_replies(post._idx)">Show Replies</button>
                </span>
            </div>

          <!-- Display here a reply -->
            <div v-if="post._show_replies" class="reply_area">
                <span v-if="is_logged_in">
                    <button v-if="!post._add_reply" id="add_reply_btn" v-on:click="toggle_add_reply(post._idx)">Add Reply</button>
                    <div v-if="post._add_reply">
                      <div class="form threequarters">
                        <input v-model="post._cur_reply" placeholder="Enter the reply content"/>
                      </div>

                       <div class="submit">
                        <button id="add-reply" v-on:click="add_reply(post._idx)">Submit</button>
                      </div>

                    </div>
                </span>

                <div class="reply" v-for="reply in post._replies">
                  <div class="reply_author">Author: ${reply.reply_author}</div>

                  <span v-if="!reply.editing">
                    <div>${reply.reply_content}</div>
                  </span>
                  <span v-if="reply.editing">
                      <textarea v-model="reply.reply_content"></textarea>
                  </span>

                  <div v-if="cur_user_email == reply.reply_author"class="edit_reply">
                      <button v-if="!reply.editing" id="edit_reply_btn" v-on:click="edit_reply(post._idx, reply.id)">Edit</button>
                      <button v-if="reply.editing" id="submit_reply_btn" v-on:click="edit_reply(post._idx, reply.id)">Submit</button>
                  </div>

                </div>

            </div>


          </div>
        </div>
      </div>






      </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
