{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns:v-on="http://www.w3.org/1999/xhtml"
        xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}";
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

    var cur_user_email = "{{='false' if auth.user is None else auth.user.email}}";

    // var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    // var get_thumb_count_url = "{{=URL('api', 'get_thumb_count')}}";
    // var get_thumb_entries_url = "{{=URL('api', 'get_thumb_entries', user_signature=True)}}";

    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var add_reply_url = "{{=URL('api', 'add_reply', user_signature=True)}}";
    var get_replies_url = "{{=URL('api', 'get_replies')}}";
    var edit_reply_url = "{{=URL('api', 'edit_reply', user_signature=True)}}";

    var delete_post_url ="{{=URL('api', 'delete_post', user_signature=True)}}";

    var user_email = "{{='' if auth.user is None else auth.user.email}}";

    var add_usr_url = "{{=URL('api', 'add_usr', user_signature=True)}}";
    var get_usr_url = "{{=URL('api', 'get_user', user_signature=True)}}";
    var get_usr_by_email_url = "{{=URL('api', 'get_user_by_email')}}";
    // Like callbacks.

</script>
{{end}}



<div class="main_content">
    <div id="vue-div" class="display:none">


    <div v-if="page === 0">
      <div class="bgimg" style="height:1000px;">
          <h2 style="color:white;  zoom: 2.2; font-family: SourceHanSansSC-Bold; padding-left: 10%; padding-top: 15%;">
          Turn sparks into flames
          </h3>
          <h7 style="color:white;  zoom: 2;font-family: SourceHanSansSC-Bold; padding-left: 10%; padding-top: 60%;">
          Try out the most trending platform in 2019 for students to change the world !
          </h7>
          <h7 style="color:white; font-family: SourceHanSansSC-Bold; padding-left: 30%; ">
          </h7>

          <div class="card-deck" style="padding-left:11%; padding-top:140px;">

          <div class="d-inline">
            <div class="card" style="width: 28rem; height:38rem;">
          <img class="card-img-top" style=" zoom: 1.5;" src="http://pluspng.com/img-png/png-logo-design-boldmedia-flat-logo-design-for-web-design-company-author-jeroen-van-eerden-670.png" alt="Card image cap"/>
          <div class="card-body" style="padding-top:165px; ">
          <h5 class="card-title" style=" zoom: 1.5;">TM Master</h5>
          <p class="card-text" style=" zoom: 1.4;">An ultimate project management tool that helps manage your team and project in the most efficient way</p>
          <a href="#" style=" zoom: 1.7;background-color:#58C5E4; border-color:#58C5E4; "class="btn btn-primary">Explore</a>
          </div>
          </div>
          </div>

          <div class="d-inline" style="padding-left:7%">
          <div class="card" style="width: 28rem; height:38rem;">
          <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/065e3217174739.562b6c9c486a0.png" alt="Card image cap"/>
          <div class="card-body" style="padding-top:165px">
          <h5 class="card-title" style=" zoom: 1.5;">ONAK 2.0 - Origami Canoe</h5>
          <p class="card-text" style=" zoom: 1.4;">We developed the ONAK 2.0 to make paddling even easier and more accessible than ever before. Our customers provided amazing feedback. </p>
          <a href="#" style=" zoom: 1.7; background-color:#58C5E4; border-color:#58C5E4;" class="btn btn-primary">Explore</a>
          </div>
          </div>
          </div>

          <div class="d-inline" style="padding-left:7%">
          <div class="card" style="width: 28rem; height:38rem;">
          <img class="card-img-top" src="https://i.redd.it/xkmgc2a81w211.png" alt="Card image cap"/>
          <div class="card-body" style="padding-top:165px">
          <h5 class="card-title" style=" zoom: 1.5;">Hive Explorer | First Smart Insect Farm for Starters</h5>
          <p class="card-text" style=" zoom: 1.4;">Grow edible protein and fertilizer on food waste | Grown-Ups & Kids | Fun STEM education kit | Safe, Regulated Ecosystem</p>
          <a href="#" style=" zoom: 1.7; background-color:#58C5E4; border-color:#58C5E4;" class="btn btn-primary">Explore</a>
          </div>
          </div>
          </div>
          <!-- end of d-inline -->

          </div>
          <!-- end of card-deck -->
      </div>
    </div>
<!-- end of page0 -->

    <div v-if="page === 2">
      <div>
       <div style="padding-left: 10%; width: 95%;">
          <h2 style="color:#333;  zoom: 2; font-family: SourceHanSansSC-Bold; padding-top: 10%;">
          ${detail.post_title}
          <a><span style="font-family: SourceHanSansSC-Bold;" class="badge badge-secondary" v-on:click="get_usr_by_email(detail.post_author)">${detail.post_author}</span></a></h2>
        </div>
        <div class="row">
          <div style="padding-left:10%; padding-top:80px;margin: auto">
            <img v-bind:src="detail.post_image"  v-if="detail.post_image" alt="Card image cap" style="max-width: 80%;margin: auto"/>
          </div>
        </div>
        <hr style="margin:50px 10%;">
        <center style="color:#444; zoom: 2;font-family: SourceHanSansSC-Bold;text-align: center"> Description </center>
        <div  style="margin:0 10%;">
            <center style="color:#444; zoom: 2;font-family: SourceHanSansSC-Regular;padding-top: 22px;text-align: center">${detail.post_content}</center>
        </div>
        <hr style="margin:50px 10%;">
        <center style="color:#444; zoom: 2;font-family: SourceHanSansSC-Bold; text-align: center"> Replies </center>
        <div  style="margin:0 10%;" v-for="replay in detail._replies">
            <center style="color:#444; zoom: 2;font-family: SourceHanSansSC-Regular;padding-top: 22px;text-align: center">${replay}</center>
        </div>
        <div class="form-hint" style="margin:100px 10%; font-size:15px; color:#999">
            End of article
        </div>
        <div style="padding-left:10%; padding-bottom:5%">
          <button class="btn btn-primary" style="background-color:#58C5E4; border-color:#58C5E4; zoom:1.5" v-on:click="page=1">Back to home</button>
        </div>
      </div>
    </div>
<!-- End of Page2 -->



    <div v-if="page === 1">
      <div id="add_post" v-show="form_set" style="display:none">
        <div style="padding-left:10%; width:90%" >

      <label class="form-hint">Idea</label>
      <textarea type="text" v-model="form_title" placeholder="Enter your idea"
      class="md-textarea form-control" rows="1" style="border-color:#58C5E4;font-size:14px"
      ></textarea>

      <label class="form-hint">Image</label>
            <input type="file"  @change="on_file_change"  placeholder="Enter image Url" class="md-textarea form-control"
                   rows="1" style="border-color:#58C5E4;font-size:14px;padding: 0;"/>


      <label class="form-hint">Description</label>
      <textarea type="text" v-model="form_content" id="lname" name="lastname" placeholder="Enter idea description" class="md-textarea form-control"
      style="border-color:#58C5E4;font-size:14px; height:100px"></textarea>
      <div style="padding-top:12px;">
      <button id="add-post" style=" zoom: 1.7; background-color:#58C5E4; border-color:#58C5E4;" v-on:click="add_post">Submit</button>
          <button style=" zoom: 1.7; background-color:red; border-color:red;" v-on:click="form_set=false">Cancel</button>
      </div>
      </div>

      </div>

      <div style="padding-left: 9%; padding-top:3%">
      <span style="font-family: SourceHanSansSC-Bold; font-size: 32px; color: #58C5E4; letter-spacing: 2px;">
      Trending
      </span>
      <div  class="right" style="padding-right:20%; padding-top:1%; width:30px" >
         <button class="btn btn-primary" style="background-color:#58C5E4; border-color:#58C5E4; zoom:1.5"  v-on:click="toggle_form">Add post</button>
      </div>
        <div  class="right" style="padding-right:10%; padding-top:1%; width:30px" >
         <button class="btn btn-primary" style="background-color:#58C5E4; border-color:#58C5E4; zoom:1.5"  v-on:click="get_usr">Profile</button>
      </div>
      </div>

      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts.</div>

      <!-- We display the posts. -->

      <!-- main page will display three posts with images in each row -->

      <div id="post_list" style="padding-top:5%">
        <div class="card-deck" style="padding-left:10%">
            <!--${post_list}-->
        <div class="d-inline" v-for="post in post_list" style="padding-right:50px; padding-bottom:100px">
            <div class="card" style="width: 28rem; height:44rem;">
            <img class="card-img-top" v-bind:src="post.post_image" 
            style="
            margin: 0 
            width: 28rem;
            height: 17rem;
            object-fit: cover;
            "/>
            <div class="card-body" style="padding-top:195px;">
              <h5 class="card-title" style="zoom: 1.5; ">${post.post_title}</h5>
              <p class="card-text" style=" zoom: 1.4;">${post.post_content}</p>
            <span class="card-poster">By: ${post.post_author}<br/><br/></span>
            <a href="#" v-on:click="go_detail(post._idx)" style=" zoom: 1.7; background-color:#58C5E4; border-color:#58C5E4;" class="btn btn-primary">Explore</a>
            <a href="#" v-on:click="delete_post(post._idx)" v-if="user_email === post.post_author" style=" zoom: 1.7; background-color:#58C5E4; border-color:#58C5E4;" class="btn btn-primary">Delete</a> 
            </div>
            </div>

        </div>
        </div>
          </div>
        </div>


    <div v-if="page === 3"  style="background-color:#58C5E4 ;margin: -16px;
    padding: 0px;
    widows: 100%;
    height: auto;">
    <div style="padding-left:10%; padding-top:10%">
    
      <button class="btn btn-warning"  v-if="usrediting === 1"  style="zoom:1.5"  v-on:click="usrediting=0">Cancel</button>

      <div v-if="usrediting === 0">

      <div style="background-color:white; margin-right:10%;  border-radius: 20px;">
          <div class="right" style="padding-top:20px; padding-right:20px">
          <button class="btn btn-outline-primary" style="border-color:#58C5E4;border-radius: 20px; color:#58C5E4; zoom:1.5"  v-on:click="toggle_usrform">Edit profile</button>
          </div>
        <div style="padding-top:60px">
        <img class="rounded-circle" v-bind:src="usr.usr_portrait" v-if="usr.usr_portrait" alt="profile image cap" style = "
        width: 130px;
        height: 130px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        
        "/>
        <div class="form-hint" style="text-align:center;font-size:24px;font-family: SourceHanSansSC-Bold; color:#32325D; padding-top:2%"> ${usr.usr_name} </div>
        <div class="form-hint" style="font-size:15px;text-align:center;color:#5E5E7B; ">${usr.usr_email}</div>
        <div class="form-hint" style="font-size:18px;text-align:center;color:#32325D;  padding-top:1%">${usr.usr_school}</div>
        <div class="form-hint" style="text-align:center ;color:#32325D">${usr.usr_major}</div>
                        <hr style="margin:50px 10%;">

        <div class="form-hint" style="text-align:center ;color:#32325D; padding-bottom:80px">${usr.usr_experience}</div>
        </div>
      </div>



      <div id="usr_profile" style="padding-top:5%;margin: auto;text-align: left;">
  
            <div class="card-body">
              
        </div>
        </div>
          </div>
        <div v-if="usrediting === 1">
      <div id="edit_profile">
        <div style="width:90%" >
        <label class="form-hint">Profile:</label>
        <input type="file"  @change="on_profile_change"  placeholder="Enter image Url" class="md-textarea form-control"
                   rows="1" style="border-color:#58C5E4;font-size:14px;padding: 0;"/>

      <label class="form-hint">Name</label>
      <textarea type="text" v-model="usr_name" placeholder="Enter your name"
      class="md-textarea form-control" rows="1" style="border-color:#58C5E4;font-size:14px"
       v-model:value="usr.usr_name"></textarea>

      <label class="form-hint">Major</label>
      <textarea type="text" v-model="usr_major"id="lname" name="lastname" placeholder="Enter your major" class="md-textarea form-control"
                rows="1" style="border-color:#58C5E4;font-size:14px" v-model:value="usr.usr_major">${usr.usr_major}</textarea>


      <label class="form-hint">School</label>
      <textarea type="text" v-model="usr_school" id="lname" name="lastname" placeholder="Enter your school" class="md-textarea form-control" rows="1"
      style="border-color:#58C5E4;font-size:14px;" v-model:value="usr.usr_school"></textarea>

      <label class="form-hint">Experience</label>
      <textarea type="text" v-model="usr_experience" id="lname" name="lastname" placeholder="Enter your experience" class="md-textarea form-control"
      style="border-color:#58C5E4;font-size:14px; height:100px" v-model:value="usr.usr_experience"></textarea>

      <div style="padding-top:12px;">
      <button id="add-post" style=" zoom: 1.7; background-color:#58C5E4; border-color:#58C5E4;" v-on:click="add_usr">Submit</button>
      </div>
      </div>
      </div>
      </div>
      
      <div style="padding-bottom:5%">
      <button class="btn btn-primary"  v-if="usrediting === 0"  style="background-color:#58C5E4; border-color:#58C5E4; zoom:1.5"  v-on:click="page=1">Back to home</button>
      </div>
      </div> 
      </div>

    <div v-if="page === 4"
      style="background-color:#58C5E4 ;margin: -16px;
    padding: 0px;
    widows: 100%;
    height: auto;">
    <div style="padding-left:10%; padding-top:10%">
    
      <button class="btn btn-warning"  v-if="usrediting === 1"  style="zoom:1.5"  v-on:click="usrediting=0">Cancel</button>

      <div v-if="usrediting === 0">

      <div style="background-color:white; margin-right:10%;  border-radius: 20px;">
   
        <div style="padding-top:60px">
        <img class="rounded-circle" v-bind:src="other_detail.usr_portrait" v-if="other_detail.usr_portrait" alt="profile image cap" style = "
        width: 130px;
        height: 130px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        
        "/>
        <div class="form-hint" style="text-align:center;font-size:24px;font-family: SourceHanSansSC-Bold; color:#32325D; padding-top:2%"> ${usr.usr_name} </div>
        <div class="form-hint" style="font-size:15px;text-align:center;color:#5E5E7B; ">${other_detail.usr_email}</div>
        <div class="form-hint" style="font-size:18px;text-align:center;color:#32325D;  padding-top:1%">${other_detail.usr_school}</div>
        <div class="form-hint" style="text-align:center ;color:#32325D">${other_detail.usr_major}</div>
                        <hr style="margin:50px 10%;">

        <div class="form-hint" style="text-align:center ;color:#32325D; padding-bottom:80px">${other_detail.usr_experience}</div>
                                <hr style="margin:50px 10%;">
        <div class="card-deck" style="padding-left:10%">
                    <div class="d-inline" v-for="p in post_list" style="padding-right:50px; padding-bottom:20px" v-if="p.post_author == other_detail.usr_email">
                        <div class="card" style="width: 28rem; height:42rem;">
                        <img class="card-img-top" v-bind:src="p.post_image" style="
                        margin: 0 
                        width: 28rem;
                        height: 17rem;
                        object-fit: cover;
                        "/>
                        <div class="card-body" style="padding-top:195px;">
                          <h5 class="card-title" style="zoom: 1.5; ">${p.post_title}</h5>
                          <p class="card-text" style=" zoom: 1.4;">${p.post_content}</p>
                        <span class="card-poster">By: ${p.post_author}<br/><br/></span>
                        </div>
                     </div>
                </div>
        </div>
      </div>


          </div>
          <div style="padding-left:10%">
              <button class="btn btn-primary" style="background-color:#58C5E4; border-color:#58C5E4; zoom:1.5"  v-on:click="page=1">Home</button>
              <button class="btn btn-warning" style="zoom:1.5"  v-on:click="page=2">Back</button>
      
          </div>
        </div>
    </div>
        <!-- end of page1 -->
      </div>
      </div>

      </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
