<!-- Do not display this at the moment
          <div class="attributes">

            <!-- Code for Thumbs. -->
           <div v-if="is_logged_in" class="thumbs">
              <span v-if="is_logged_in" class="thumb_up_class"
                    v-on:mouseover="thumb_up_mouseover(post._idx)"
                    v-on:mouseout="thumb_up_mouseout(post._idx)"
                    v-on:click="thumb_up_click(post._idx)">
                <i v-if="post._thumb === 'u'" class="fa fa-thumbs-up" v-bind:class="{changed: post.thumb === 'd'}"></i>
                <i v-else class="fa fa-thumbs-o-up" v-bind:class="{changed: post._thumb === 'u'}"></i>
              </span>

              <span v-if="is_logged_in" class="thumb_down_class"
                    v-on:mouseover="thumb_down_mouseover(post._idx)"
                    v-on:mouseout="thumb_down_mouseout(post._idx)"
                    v-on:click="thumb_down_click(post._idx)">
                <i v-if="post._thumb == 'd'" class="fa fa-thumbs-down" v-bind:class="{changed: post.thumb === 'u'}"></i>
                <i v-else class="fa fa-thumbs-o-down" v-bind:class="{changed: post._thumb === 'd'}"></i>
              </span>

              <span v-if="is_logged_in" class="thumb_counts" v-text="get_thumb_count(post._idx)"></span>
            </div>

            <div class="post_buttons">
                <span v-if="cur_user_email == post.post_author" class="edit_buttons">
                    <button v-if="!post.editing" id="edit_post_btn" v-on:click="toggle_edit(post._idx)">Edit Post</button>
                    <button v-if="post.editing" id="submit_post_btn" v-on:click="toggle_edit(post._idx)">Submit</button>

                </span>
                <span class="reply_buttons">
                    <button v-if="post._show_replies" id="hide_replies_btn" v-on:click="hide_replies(post._idx)">Hide Replies</button>
                    <button v-if="!post._show_replies" id="show_replies_btn" v-on:click="show_replies(post._idx)">Show Replies</button>
                </span>
            </div>

          
            <div v-if="post._show_replies" class="reply_area">
                <span v-if="is_logged_in">
                    <button v-if="!post._add_reply" id="add_reply_btn" v-on:click="toggle_add_reply(post._idx)">Add Reply</button>
                    <div v-if="post._add_reply">
                      <div class="form threequarters">
                        <input v-model="post._cur_reply" placeholder="Enter the reply content"/>
                      </div>

                       <div class="submit">
                        <button id="add-reply" v-on:click="add_reply(post._idx)">Submit</button>
                      </div>

                    </div>
                </span>

                <div class="reply" v-for="reply in post._replies">
                  <div class="reply_author">Author: ${reply.reply_author}</div>

                  <span v-if="!reply.editing">
                    <div>${reply.reply_content}</div>
                  </span>
                  <span v-if="reply.editing">
                      <textarea v-model="reply.reply_content"></textarea>
                  </span>

                  <div v-if="cur_user_email == reply.reply_author"class="edit_reply">
                      <button v-if="!reply.editing" id="edit_reply_btn" v-on:click="edit_reply(post._idx, reply.id)">Edit</button>
                      <button v-if="reply.editing" id="submit_reply_btn" v-on:click="edit_reply(post._idx, reply.id)">Submit</button>
                  </div>

                </div>

            </div>
