/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 16px;
}
/* line 8, ../sass/_main.scss */
div.main_content div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 13, ../sass/_main.scss */
div.main_content div.post_div {
  margin: 4px;
  border: 1px black solid;
  background-color: #eeeeee;
  padding: 4px;
}
/* line 18, ../sass/_main.scss */
div.main_content div.post_div .post_title {
  font-size: 120%;
}
/* line 22, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}
/* line 25, ../sass/_main.scss */
div.main_content span.likers_list {
  color: #7777cc;
}

button {
    background: #69b679;
    border-radius: 0px !important;
}

.post_div {
    border: 1px black solid;
    margin-bottom: 3px;
}

.post_title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.post_content {
    font-size: 14px;
    margin-left: 5px;
}

.attributes {
    margin-left: 5px;
}

.reply_list {
    border-top: 1px solid black;
}

.replyitem {
    margin-left: 15px;
    margin-bottom: 20px;
}

.replyitem .reply_time {
    text-align: right;
    margin-right: 100px;
}

.reply_box {
    margin-left: 5px;
    width: 80%;
    height: 100px;
}